@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }
    section#login{
        width: 80vw;
    }
    div#image{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#form {
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 993px) {
    body{
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }
    section#login{
        width: 900px;
    }
    div#image{
        float: left;
        width: 40%;
        height: 100%;
    }
    div#form{
        float: right;
        width: 60%;
    }
    div#form > h1 {
        font-size: 1.6em;
    }
    div#form > p {
        font-size: 1.2em;
    }
}